<%- include('../partials/header'); -%>
<body>
    <%- include('../partials/menu'); -%>
        </div>
    </div>
    <br>
    <div class="jumbotron">
        <div class="jumbotron">
       <h3 style="text-align: center; background-color: grey;">Searches</h3>
        <table class="table table-bordered" style="align-self: center;">
            <tr>
                <th class="align-bottom">name</th>
                <th class="align-bottom">link</th>
                <th class="align-bottom">year</th>
                <th class="align-bottom">genre</th>
                <th class="align-bottom">fM</th>
            </tr>
    
            <%- include('../partials/table'); -%>
        </table>
        
    </div>
    </div>
    
<%- include('../partials/footer'); -%>